<template>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 border">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Actualizar detalles del producto</h4>
                    </div>

                    <form v-on:submit.prevent="processEditProduct">
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>Nombre</label><br>
                                <input type="text" v-model="product.name" class="form-control w-100 mx-0" placeholder="Nombre producto">
                            </div>
                            <div class="col-md-6">
                                <label>Precio</label><br>
                                <input type="number" v-model="product.price" class="form-control w-100 mx-0" placeholder="Valor del producto">
                            </div>
                            <div class="col-md-6">
                                <label>Descripcion</label><br>
                                <input type="text" v-model="product.description" class="form-control w-100 mx-0" placeholder="Descripcion">
                            </div>
                            <div class="col-md-6">
                                <label>Talla</label><br>
                                <select v-model="product.size" class="form-control w-100 mx-0 mb-2" name="talla" id="talla">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>URL de la imagen</label><br>
                                <input type="text" v-model="product.imageURL" class="form-control w-100 mx-0" placeholder="Imagen del producto">
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <label class="mb-1 mr-2">Activo </label>
                                <input type="checkbox" v-model="product.isActive" id="isActive" name="isActive">
                            </div>
                        </div>

                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Actualizar producto</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "../config/axios";

export default {
  name: "EditProduct",
  data: function () {
    return {
      product: {
        name: "",
        price: "",
        description: "",
        size: "",
        imageURL: "",
        isActive: "",
      },
    };
  },
  methods: {
    getData: async function () {
        let productID = this.$route.query.productId;
        let token = localStorage.getItem("token_access");
    axios
        .get(`product/${productID}`,  {
        headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
        this.product = result.data;
        this.loaded = true;
        })
        .catch(() => {
            //this.$emit("logOut");
        });
    },
    processEditProduct: function () {
        let productID = this.$route.query.productId;
        axios.put(`product/${productID}`, this.product, {
          headers: {},
        })
        .then((result) => {
        this.$swal.fire({
                position: 'center-center',
                icon: 'success',
                title: 'Se actualizo la información del producto.',
                showConfirmButton: false,
                timer: 2500
            })
          this.$router.push({ name: "listproduct" });
        })
        .catch((error) => {
            this.$swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: `${error.message}`,
                footer: '<a href="">Why do I have this issue?</a>'
            })
        });
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>

<style>
body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>