<template>
    <div class="product-info">
        <div class="row gutters-sm">
            <div class="col-md-7 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">{{product.name}} {{$route.params.productId}}</h5>
                        </div>
                        <div class="card-body">
                            <div class="m-3">
                                <img class="img-fluid" :src="`${product.imageURL}`" />
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="d-flex flex-row mb-1"> <span>Calificación</span>
                                <div class="ratings ml-4"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card mb-3">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Producto</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <p class="card-text">{{product.name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Precio</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        $ {{product.price}} COP
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Descripci&oacute;n</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <p class="card-text">{{product.description}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Talla</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <select name="talla" id="talla">
                                <option :value="`{{product.size}}`">{{product.size}}</option>
                                <option :value="`{{product.size}}`">{{product.size}}</option>
                                <option :value="`{{product.size}}`">{{product.size}}</option>
                                <option :value="`{{product.size}}`">{{product.size}}</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Color</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <select name="color" id="color">
                                <option value="Azul">Azul</option>
                                <option value="Negro">Negro</option>
                                <option value="Gris">Gris</option>
                                <option value="Blanco">Blanco</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
</template>
 
<script>
import axios from "../config/axios";
//import ProductSlide from "./ProductSlide";

export default {
    name: "ProductDetail",
    /*components: {
        ProductSlide
    },*/
    data: function () {
        return {
        product: [],
        email: "",
        balance: 0,
        loaded: false,
        };
    },
    methods: {
        getData: async function () {
            let productID = this.$route.query.productId;
            let token = localStorage.getItem("token_access");
        axios
            .get(`product/${productID}`,  {
            headers: { Authorization: `Bearer ${token}` },
            })
            .then((result) => {
            this.product = result.data;
            this.loaded = true;
            })
            .catch(() => {
            this.$emit("logOut");
            });
        },
    },
  created: async function () {
    this.getData();
  },
};
</script>

<style>
.card-body, .gris-adidas {
    background-color: #eceef0;
}

.product-info {
  margin-top: 15px;
  width: 80%;
}

.product-info button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}

.card-footer .d-flex .ratings i {
    color: #ccb743;
}

.product-info  button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}

.card-body, .gris-adidas {
    background-color: #eceef0;
}
</style> 