<template>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <div id="app" class="app">
    <div class="bg-secondary py-3">
      <div class="container">
        <div class="row">
          <div class="col-6 text-light d-flex align-items-center">
            <h1 v-if="is_auth" type="button" v-on:click="loadHome">ShopTic</h1>
            <h1 v-if="!is_auth">ShopTic</h1>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <nav class="text-right">
              <button type="button" class="btn btn-primary mx-2" v-if="is_auth" v-on:click="loadListProduct">Productos</button>
              <button type="button" class="btn btn-primary mx-2" v-if="is_auth" v-on:click="loadAccount">Cuenta</button>
              <button type="button" class="btn btn-danger mx-2" v-if="is_auth" v-on:click="logOut">Cerrar Sesión</button>
              <button type="button" class="btn btn-success mx-2" v-if="!is_auth" v-on:click="loadLogIn">Iniciar Sesión</button>
              <button type="button" class="btn btn-primary mx-2" v-if="!is_auth" v-on:click="loadSignUp">Registrarse</button>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="main-component d-flex justify-content-center align-items-center">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut">
      </router-view>
    </div>

    <footer>
      <section class="container-fluid bg-light mt-5">
        <div
          class="row py-4 justify-content-center align-items-center text-center"
        >
          <div class="col-12 col-md-6">
            <h5>Contáctanos</h5>
            <p class="mb-1">Email: shoptic@gmail.com</p>
            <p>Teléfono: (+57) 3562478854</p>
          </div>

          <div class="col-12 col-md-6">
            <h5>Redes Sociales</h5>

            <a
              href=""
              target="_blank"
            >
              <img
              class="mr-3"
                style="width: 2%"
                src="../public/footer/facebook-f-brands.svg"
                alt=""
            /></a>
            <a
              href=""
              target="_blank"
            >
              <img
                class="mr-3"
                style="width: 4%"
                src="../public/footer/linkedin-in-brands.svg"
                alt=""
            /></a>
            <a href="" target="_blank">
              <img style="width: 4%" src="../public/footer/github-brands.svg" class="mr-3" alt="" />
            </a>
            <a href="" target="_blank">
              <img style="width: 4%" src="../public/footer/whatsapp-brands.svg" alt=""/>
            </a>
          </div>
        </div>
      </section>

      <div class="container-fluid bg-dark text-light">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <p class="mt-3">Todos los derechos reservados 2020 ©</p>
        </div>
      </div>
    </footer>
  </div>
</template>
 
<script>
export default {
  name: "App",

  data: function () {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth: function () {
      this.is_auth = localStorage.getItem('isAuth') || false
      if (this.is_auth == false) {
        this.$router.push({ name: "login" })
      } else {
        this.$router.push({ name: "home" })
      };
    },
    loadLogIn: function () {
      this.$router.push({ name: "login" });
    },
    loadSignUp: function () {
      this.$router.push({ name: "signup" });
    },
    completedLogIn: function (data) {
        localStorage.setItem("isAuth", true);
        localStorage.setItem("username", data.username);
        localStorage.setItem("token_access", data.token_access);
        localStorage.setItem("token_refresh", data.token_refresh);
        // alert("Autenticación Exitosa");
        // this.$swal("Autenticación Exitosa");
        let timerInterval
        this.$swal.fire({
          title: 'Autenticación Exitosa',
          html: 'Se cerrará en unos segundos',
          timer: 2000,
          timerProgressBar: true,
          didOpen: () => {
            Swal.showLoading()
            const b = Swal.getHtmlContainer().querySelector('b')
            timerInterval = setInterval(() => {
              b.textContent = Swal.getTimerLeft()
            }, 100)
          },
          willClose: () => {
            clearInterval(timerInterval)
          }
        }).then((result) => {
          /* Read more about handling dismissals below */
          if (result.dismiss === Swal.DismissReason.timer) {
            console.log('I was closed by the timer')
          }
        })
        this.verifyAuth();
    },

    completedSignUp: function (data) {
        // alert('Registro Exitoso');
        this.$swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Registro Exitoso',
          showConfirmButton: false,
          timer: 1500
        })
        this.completedLogIn(data);
    },

    loadHome: function () {
        this.$router.push({ name: "home" });
    },

    loadListProduct: function () {
        this.$router.push({ name: "listproduct" });
    },

    logOut: function () {
      localStorage.clear();
      // alert('Sesión Cerrada');
      let timerInterval
      this.$swal.fire({
        title: 'Sesión Cerrada',
        html: 'Se cerrará en unos segundos',
        timer: 2000,
        timerProgressBar: true,
        didOpen: () => {
          Swal.showLoading()
          const b = Swal.getHtmlContainer().querySelector('b')
          timerInterval = setInterval(() => {
            b.textContent = Swal.getTimerLeft()
          }, 100)
        },
        willClose: () => {
          clearInterval(timerInterval)
        }
      }).then((result) => {
        /* Read more about handling dismissals below */
        if (result.dismiss === Swal.DismissReason.timer) {
          console.log('I was closed by the timer')
        }
      })
      this.verifyAuth();
    },

    loadAccount: function() {
      this.$router.push({ name: "account" });
    }

  },

  created: function () {
    this.verifyAuth();
  },
};
</script>
 
<style>
body {
  margin: 0 0 0 0;
}

.header {
  margin: 0%;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;

  background-color: #283747;
  color: #e5e7e9;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  width: 20%;
  text-align: center;
}

.header nav {
  height: 100%;
  width: 20%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
}

/* .header nav button {
  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 20px;
} */

.header nav button:hover {
  color: #283747;
  background: #e5e7e9;
  border: 1px solid #e5e7e9;
}

.main-component {
  min-height: 75vh;
  margin: 0%;
  padding: 0%;

  background: #fdfefe;
}

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;

  background-color: #283747;
  color: #e5e7e9;
}

.footer h2 {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>